.menu
{
    ul
    {
        margin: 0;
        padding: 0px;
        li
        {
            display: block;
            a{
              color: inherit;
            }
        }
    }
}

.menu-01{
  ul{
    display: flex;
    li{
      a{
        margin: 0px 10px;
      }
    }
  }
}

.menu-02{
  ul{
    >li{
      padding: 10px 0px;
      a{
        display: block;
      }
    }
  }
}
